@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html, body{
    font-family: 'Dosis', sans-serif;
}
body{
    letter-spacing: 0.06rem;
    margin: 0px;
}
nav{
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 200px;
   width: 100%;
   margin: 0px;
   padding: 8px;
   background-color: white;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 70px;
    margin-top: 40px;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.png{
    width: 30px;
    height: 30px;
}
.logo-container{
    display: flex;
  justify-content: center;
}
.logo{
    width: 250px;
    padding-left: 100px;
}
.panier{
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 20px;
}
.navigation{
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
}
.loupe{
    align-items: center;
    display: flex;
}
.liste-acceuil{
   padding-top: 16px;
   padding-bottom: 16px;
}
.hero-header{
    padding-bottom: 16px;
    position: relative;
}
.background-hero{
    background-image: url('img background.webp');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
 }
 .hero-content{
    position: absolute;
    bottom:  35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
 }
 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1;
 }

 
h1{
    font-family:'Fjalla One', sans-serif; 
    display: block;
    margin: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.buttons-primary{
    text-decoration: none;
    padding: 8px;
    padding-left: 6px;
    padding-right: 6px;
    transition: all .3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}
p{
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
}
.card{
    width:300px;
    height:auto;
    border-radius: 16px;
    background-color: white;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 23px 20px 20px -3px rgba(0,0,0,0.1);
}
#cards{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding-bottom: 75px;
    flex-wrap: wrap;
 }
 .card img{
    width: 100%;
    object-fit: cover;
    height: 300px;
 }
 .buttons-add{
    border-radius: 4px;
    text-decoration: none;
    padding: 8px;
    transition: all .3s ease-in-out;
    color: white;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    width: 60%;
}
.title-card{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-around;
    width: 300px;
    height: 70px;
 }
 #qualités img{
    width: 125px;
 }
 #qualités{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-around;
 }
 .card-qualités{
    width:300px;
    height:auto;
    border-radius: 16px;
    background-color: white;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid white;
 }
 #avis{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
 }
 .card-avis{
    width:400px;
    height:auto;
    border-radius: 16px;
    background-color: white;
    display: flex;
    margin: 10px;
    flex-direction: column;
    overflow: hidden;
    object-fit: cover;
    background-color: #f7f1ed;
    transition: 0.5s;
}
.card-img{
    display: flex;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

h2{
    max-width: 60%;
    font-size: 19px;
}
h3{
    font-size: 15px;
}
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
footer{
    background-color: #f7f1ed;
}
.avatar {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 100%;
}
.card-container-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
}
.card-container-avis{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.flower{
    width: 25px;
    height: 25px;
    
}
#flow{
    opacity: 0.3;
}
.buttons-add:hover{
    transform: scale(1.1);
}
.buttons-primary:hover{
    transform: scale(1.1);
}
.card-avis:hover{
    transform: scale(1.1);
}
